<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Signup</title>
</head>

<body>
    <h1>Signup</h1>

    <form th:action="@{/saveuser}" method="post" th:object="${signupform}">
        <div>
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" id="username" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" />
        </div>
        <div>
            <label for="passwordCheck">Confirm Password:</label>
            <input type="password" th:field="*{passwordCheck}" id="passwordCheck" />
        </div>
        <div>
            <button type="submit">Sign up</button>
        </div>
    </form>

    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</body>

</html>